.App {
  text-align: center;
  background-color: #009f68;
  height: 100vh;
}

.smallButtons {
  margin: 2px 0;
  align-self: flex-end;
  font-size: x-small;
  border: 0;
}

.login {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  border: 0;
}

button {
  align-self: center;
  background-color: white;
}

.dataField {
  display: flex;
  justify-content: space-between;
}

.room {
  display: flex;
  flex-direction: column;
}

.seat {
  display: flex;
  justify-content: center;
}

.seats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.aSeat {
  /* margin: 1%; */
  padding: 0 1%;
}

.eachSeat {
  width: 100%;
  text-align: center;
}

.date {
  display: flex;
}

.spaceAround {
  display: flex;
  justify-content: center;
}

.plane {
  width: 100%;
  border-radius: 5px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.seat input[type="checkbox"]:checked + label {
  background: #bada55;
  color: black;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label[type="checkbox"]:checked + label {
  background: white;
  box-shadow: 0;
  border: 0;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.seat input[type="checkbox"]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 20%;
  margin: 1%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
  color: black;
}

.seat label:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  box-shadow: 0 0 0px 2px #bada55;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px black;
}

.column1 {
  float: left;
  width: 20%;
}

.column2 {
  float: left;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.seatInfo {
  /* position: relative;  */
  width: 100%;
  left: -50px;
  /* border: 1px solid black; */
  height: auto;
  border-radius: 5px;
}

label {
  margin: 1% 0;
}

.seatfrm {
  border: 1px solid black;
}

.form-check {
  margin-left: 32px;
  margin-top: 5px;
}

.seatBT {
  display: block;
  margin-left: 40%;
  margin-bottom: 15px;
}

.hideBT {
  display: none;
}

.activeArrow2 {
  color: rgb(0, 63, 0);
  position: absolute;
  margin-top: 50px;
  left: 370px;
  animation: bounce 0.5s infinite linear;
}

.field {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}

.HPHeader {
  display: flex;
}

.outerBox {
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 400px; */
  /* height: 400px; */
  /* height: 75%; */
  /* width: 75%; */
  /* padding: 5% 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  color: black;
  text-decoration: none;
}

a.link.active {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

/* .field label{
  margin-left: 10%;
  margin-right: 10%;
}

.field input{
  margin-right: 10%;
} */

.users-table {
  border-spacing: 0;
  text-transform: capitalize;
  min-width: 35rem;
  width: 150%;
  border-collapse: collapse;
  /* background-color: white; */
  border: 1px solid gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.users-table-container {
  /* color: white; */
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 0.2rem;
  /* padding: 1% 1%; */
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
}

button {
  text-decoration: none;
}

.glassDesign {
  /* height: 500px; */
  /* width: 500%; */
  /* padding: 2%; */
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.flexSpaceBtw{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 75vw;
  height: 75vh;
  padding: 2%;
  
}